{% if paginator.total_pages > 1 %}
<div class="pagination mt20"> 
  {% if paginator.previous_page %}
    &laquo;&nbsp;<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
  {% else %}
    <span>&laquo;&nbsp;Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>&nbsp;&raquo;
  {% else %}
    <span>Next&nbsp;&raquo;</span>
  {% endif %}
</div>
{% endif %}
